/* ## Colors

### Primary

- Nutmeg: hsl(14, 45%, 36%)
- Dark Raspberry: hsl(332, 51%, 32%)

### Neutral

- White: hsl(0, 0%, 100%)
- Rose White: hsl(330, 100%, 98%)
- Eggshell: hsl(30, 54%, 90%)
- Light Grey: hsl(30, 18%, 87%)
- Wenge Brown: hsl(30, 10%, 34%)
- Dark Charcoal: hsl(24, 5%, 18%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Fonts

- Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif)
- Weights: 400

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 600, 700 */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 24%;
  margin-right: 24%;
}

main {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  padding: 35px;
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 10px;
}

/* =======FONTS======= */

h1,
h2,
h3 {
  padding-bottom: 10px;
}

h1,
h2 {
  font-family: "Young Serif", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 10px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  color: hsl(14, 45%, 36%);
}

h3 {
  font-size: 18px;
  color: hsl(332, 51%, 32%);
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}

h3 {
  padding-left: 5px;
}

p,
span, td {
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);
}

span {
  font-weight: 600;
}

/* =======LISTS======= */

.prep {
  background-color: hsl(330, 100%, 98%);
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
  margin: 0 5px 0 5px;
}

li {
  list-style-position: outside;
  padding-top: 5px;
  padding-bottom: 5px;
}

li::marker {
  color: hsl(332, 51%, 32%);
  font-size: 12px;
  line-height: 0.1;
}

.prep ul {
  padding-left: 25px;
}

ul,
ol {
  padding-left: 20px;
}

.instructions li::marker {
  font-size: 14px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}

li > p {
  padding-left: 15px;
}

article {
  padding-bottom: 15px;
}

section {
  padding: 15px 0 15px 0;
  margin: 15px 0 15px 0;
}

hr {
  border-top: 1px solid hsl(30, 18%, 87%);
}

.midLine {
  border-top: 1px solid hsla(30, 18%, 87%, 0.6);
}

table {
  width: 100%;
  border-collapse: collapse;
}

.firstLine {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.secondLine {
  border-bottom: 1px solid hsla(30, 18%, 87%, 0.6);
}

.thirdLine {
  border-bottom: 1px solid hsl(30, 18%, 87%, 0.4);
}

td > span {
  color: hsl(14, 45%, 36%);
}

td {
  padding-left: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.ptable {
  padding-bottom: 10px;
}


.attribution {
  font-size: 11px;
  font-weight: 400;
  font-family: "Outfit", sans-serif;
  text-align: center;
}

.attribution a {
  color: hsl(332, 51%, 32%);;
  font-weight: 600;
  text-decoration: none;
}

/* =======MOBILE======= */

@media (max-width: 375px) {
  body {
    margin: 0;
  }

  main {
    border-radius: 0px;
    padding: 0px;
  }

  article > h1, p {
    padding-left: 25px;
    padding-right: 25px;
  }

  section {
    padding-left: 25px;
    padding-right: 25px;
  }

  img {
    border-radius: 0px;
  }

  .prep {
    margin: 10px 25px 0 25px;
  }
}