/* ## Colors

### Primary

- Nutmeg: hsl(14, 45%, 36%)
- Dark Raspberry: hsl(332, 51%, 32%)

### Neutral

- White: hsl(0, 0%, 100%)
- Rose White: hsl(330, 100%, 98%)
- Eggshell: hsl(30, 54%, 90%)
- Light Grey: hsl(30, 18%, 87%)
- Wenge Brown: hsl(30, 10%, 34%)
- Dark Charcoal: hsl(24, 5%, 18%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Fonts

- Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif)
- Weights: 400

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 600, 700 */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 24%;
  margin-right: 24%;
}

main {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  padding: 35px;
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 10px;
}

h1,
h2 {
  font-family: "Young Serif", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 10px;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  color: hsl(14, 45%, 36%);
}

h3 {
  font-size: 18px;
  color: hsl(332, 51%, 32%);
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}

p,
span {
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);
}

span {
  font-weight: 600;
}

.prep {
  background-color: hsl(330, 100%, 98%);
}

li {
  list-style-position: outside;
}

li::marker {
  color: hsl(332, 51%, 32%);
  font-size: 12px;
  line-height: 0.1;
}

.prep ul {
  padding-left: 25px;
}

ul, ol {
  padding-left: 15px;
}

.instructions li::marker {
  font-size: 14px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}

article,
section {
  padding-bottom: 15px;
}
